In [5]:
import pandas as pd
from datetime import datetime, timedelta

In [6]:
startDate = '2017-12-01'
endDate = '2017-12-31'

In [7]:
data_file = pd.read_csv('data.tsv', sep='\t')

In [8]:
data_file.head()

,id,date,user_id,duration,medium,source,cost,order_id,amount_paid
0,40443,05.10.2016 23:18,1010,0.000926,seo,google,0.00,6243,20.2
1,35044,09.10.2016 21:40,1036,0.006493,sem,yandex,0.07,6145,15.6
2,40177,05.10.2016 3:23,1041,0.003380,email,promo,0.00,6128,13.2
3,39401,05.10.2016 23:19,1041,0.000463,sem,yandex,0.03,6697,9.8
4,41545,01.10.2016 4:57,1042,0.006493,sem,google,0.06,4510,14.8

In [20]:
date_string = data_file['date'][0]

In [21]:
date_string

'05.10.2016 23:18'

In [22]:
datetime.strptime(date_string, '%d.%m.%Y %H:%M')

datetime.datetime(2016, 10, 5, 23, 18)

In [23]:
date_datetime = datetime.strptime(date_string, '%d.%m.%Y %H:%M')
type(date_datetime)

datetime.datetime

In [27]:
date_datetime.year

2016

In [28]:
date_datetime.hour

23

In [44]:
ds = 'May 9 2017 9:00AM'

In [45]:
datetime.strptime(ds, '%b %d %Y %H:%M%p')

datetime.datetime(2017, 5, 9, 9, 0)

In [34]:
startDate = '2017-01-01'

In [35]:
 startDate_datetime = datetime.strptime(startDate, '%Y-%m-%d')

In [36]:
startDate_datetime

datetime.datetime(2017, 1, 1, 0, 0)

In [38]:
startDate_datetime + timedelta(days=1)

datetime.datetime(2017, 1, 2, 0, 0)

In [40]:
startDate_datetime + timedelta(days=-7)

datetime.datetime(2016, 12, 25, 0, 0)

In [41]:
startDate_datetime += timedelta(hours=1)

In [42]:
startDate_datetime

datetime.datetime(2017, 1, 1, 1, 0)

In [53]:
ds_datetime = datetime.strptime(ds, '%b %d %Y %H:%M%p')
ds_datetime += timedelta(hours=1)
ds_datetime

datetime.datetime(2017, 5, 9, 10, 0)

In [56]:
ds_datetime.strftime('%Y-%m-%d')

'2017-05-09'