In [1]:
import pandas as pd

In [2]:
data = pd.read_csv('keywords.csv')
data.head()

         keyword     shows
0             вк  64292779
1  одноклассники  63810309
2          порно  41747114
3           ютуб  39995567
4      вконтакте  21014195

In [3]:
geo_data = {

    'Центр': ['москва', 'тула', 'ярославль'],

    'Северо-Запад': ['петербург', 'псков', 'мурманск'],

    'Дальний Восток': ['владивосток', 'сахалин', 'хабаровск']

}

In [4]:
for region, city_list in geo_data.items():
    print(region, city_list)

Центр ['москва', 'тула', 'ярославль']
Северо-Запад ['петербург', 'псков', 'мурманск']
Дальний Восток ['владивосток', 'сахалин', 'хабаровск']

In [5]:
def geo_classification(row):
    for region, city_list in geo_data.items():
        for city in city_list:
            if city in row['keyword']:
                return region
    return 'undefined'

In [6]:
data['city_group'] = data.apply(geo_classification, axis=1)

In [7]:
%%time
data.groupby('city_group').count().head()

Wall time: 20.1 ms

                keyword  shows
city_group
undefined         99253  99253
Дальний Восток       94     94
Северо-Запад        266    266
Центр               387    387