In [6]:
import pandas as pd
import hashlib

In [4]:
orders = pd.read_csv('orders.txt', sep='\t')

In [5]:
orders.head()

          tel      order region         city            address
0  d76182a41a  dbd28-2a6      A      Сусуман          Кирова 10
1  d4d482c479  5f375-8c9      B       Якутск            Турку 3
2  113ab84955  b9ce9-caf      C   Пионерский    Лермонтовская 5
3  92bb06cf14  9bad8-af4      A  Владивосток  Красноармейская 7
4  41a27123c7  77c85-fd6      D       Донецк        Солнечный 8

In [7]:
hashlib.sha256('username@yandex.ru'.encode('utf-8')).hexdigest()

'2388d885ffef200977eefc0a585a578bc30e00cc0b1cde0678ed49ef04659d51'

In [9]:
def hash_name(row):
    return hashlib.sha256(row['tel'].encode('utf-8')).hexdigest()

In [15]:
orders['hash_tel'] = orders.apply(hash_name, axis=1)

In [13]:
orders.head()

,tel,order,region,city,address,hash_tel
0,d76182a41a,dbd28-2a6,A,Сусуман,Кирова 10,bdba74b6cc3a08b85eb0b279bc38f0ed69d07841181b2f...
1,d4d482c479,5f375-8c9,B,Якутск,Турку 3,110100dabb6eac601603c12c788d16c9c6978f2a6ecb5f...
2,113ab84955,b9ce9-caf,C,Пионерский,Лермонтовская 5,f9daf4c77347481bda6b052a9068f9e106bb5c1d11f8e9...
3,92bb06cf14,9bad8-af4,A,Владивосток,Красноармейская 7,5c842619d83d519f01c7cd274c893133a61a8038a42645...
4,41a27123c7,77c85-fd6,D,Донецк,Солнечный 8,701bfdd4e2c3e78b91bf8c7847e19dce7f89d98761099f...