In [1]:
import os
from os.path import join, getsize
import pandas as pd

In [2]:
files = os.listdir('data')

In [3]:
files

['ratings_1.txt',
 'ratings_10.txt',
 'ratings_2.txt',
 'ratings_3.txt',
 'ratings_4.txt',
 'ratings_5.txt',
 'ratings_6.txt',
 'ratings_7.txt',
 'ratings_8.txt',
 'ratings_9.txt']

In [4]:
dir_name = 'data'
for dirpath, dirnames, filenames in os.walk(dir_name):
    print(dirpath)
    print(dirnames)
    print(filenames)

data
[]
['ratings_1.txt', 'ratings_10.txt', 'ratings_2.txt', 'ratings_3.txt', 'ratings_4.txt', 'ratings_5.txt', 'ratings_6.txt', 'ratings_7.txt', 'ratings_8.txt', 'ratings_9.txt']

In [5]:
files = os.listdir('data')
data = pd.read_csv( os.path.join('data', files[0]), index_col=False, names=('one', 'two', 'three'))
data.head()

   one   two  three
0    1    31    2.5
1    1  1029    3.0
2    1  1061    3.0
3    1  1129    2.0
4    1  1172    4.0

In [6]:
for dirpath, dirnames, filenames in os.walk(dir_name):
    print(sum(getsize(join(dirpath, name)) for name in filenames))

2438233

In [7]:
df1 = pd.DataFrame({'A': ['A0', 'A1', 'A2', 'A3'], 

                    'B': ['B0', 'B1', 'B2', 'B3'], 

                    'C': ['C0', 'C1', 'C2', 'C3'], 

                    'D': ['D0', 'D1', 'D2', 'D3']})

In [8]:
df2 = pd.DataFrame({'A': ['A4', 'A5', 'A6', 'A7'], 

                    'B': ['B4', 'B5', 'B6', 'B7'],

                    'C': ['C4', 'C5', 'C6', 'C7'],

                    'E': ['D4', 'D5', 'D6', 'D7']})

In [9]:
frames = [df1, df2]
result = pd.concat(frames)

In [10]:
print(result.reset_index())

   index   A   B   C    D    E
0      0  A0  B0  C0   D0  NaN
1      1  A1  B1  C1   D1  NaN
2      2  A2  B2  C2   D2  NaN
3      3  A3  B3  C3   D3  NaN
4      0  A4  B4  C4  NaN   D4
5      1  A5  B5  C5  NaN   D5
6      2  A6  B6  C6  NaN   D6
7      3  A7  B7  C7  NaN   D7

In [11]:
result = pd.concat(frames, axis=1)

In [12]:
result

    A   B   C   D   A   B   C   E
0  A0  B0  C0  D0  A4  B4  C4  D4
1  A1  B1  C1  D1  A5  B5  C5  D5
2  A2  B2  C2  D2  A6  B6  C6  D6
3  A3  B3  C3  D3  A7  B7  C7  D7

In [13]:
data = pd.DataFrame(columns = ['userId', 'movieId', 'rating', 'timestamp'])

In [16]:
for name in files:
    filename = ''.join(name)
    temp = pd.read_csv(os.path.join('data', filename), names=['userId', 'movieId', 'rating', 'timestamp'])

In [21]:
temp.head()

   userId  movieId  rating   timestamp
0     547     8499     1.5  1087766595
1     547     8507     4.0  1434029572
2     547     8522     2.5  1136441189
3     547     8525     1.5  1199392371
4     547     8528     3.5  1432359375

In [19]:
data = pd.concat([data, temp])

In [26]:
data.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 10000 entries, 0 to 9999
Data columns (total 4 columns):
 #   Column     Non-Null Count  Dtype
---  ------     --------------  -----
 0   userId     10000 non-null  object
 1   movieId    10000 non-null  object
 2   rating     10000 non-null  float64
 3   timestamp  10000 non-null  object
dtypes: float64(1), object(3)
memory usage: 390.6+ KB

In [27]:
for name in files:
    filename = ''.join(name)
    new_data_frame = pd.read_csv(os.path.join('data', filename), names=['userId', 'movieId', 'rating', 'timestamp'])

In [28]:
new_data_frame.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 10000 entries, 0 to 9999
Data columns (total 4 columns):
 #   Column     Non-Null Count  Dtype
---  ------     --------------  -----
 0   userId     10000 non-null  int64
 1   movieId    10000 non-null  int64
 2   rating     10000 non-null  float64
 3   timestamp  10000 non-null  int64
dtypes: float64(1), int64(3)
memory usage: 312.6 KB