In [1]:
# !pip install chart_studio

In [12]:
import plotly
import chart_studio.plotly as py
import plotly.graph_objs as go

import pandas as pd

In [13]:
data = pd.read_csv('sales_data.csv', sep=';')
data.head()

   month  2016  2017  2018
0      1   513   465   500
1      2   534   481   523
2      3   608   553   580
3      4   620   561   593
4      5   577   563   600

In [14]:
chart_studio.tools.set_credentials_file(username='adwiza', api_key='C8SnnlBtNKBpcXvXTlSt')

In [15]:
trace = go.Table(
    header=dict(values=list(data.columns),
                fill = dict(color='#C2D4FF'),
                align = ['left', 'right', 'right', 'right']),
    cells=dict(values=[data['month'], data['2016'], data['2017'], data['2018']],
               fill = dict(color='#F5F8FF'),
               align = ['left'] + ['right']*3))
py.iplot([trace], filename = 'pandas_table')